.download {
  margin-top: -70px;
  background-color: $color-blue;
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-size: 50% cover, cover;
  background-position: left 175px, center;
  background-repeat: no-repeat;
}

.download__wrapper {
  width: 320px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 488px 20px 30px;
  margin: 0 auto;
  color: $color-white;
}

.download__lead {
  display: none;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}

.download__button {
  box-sizing: border-box;
  width: 280px;
  padding: 15px 35px;
  margin-bottom: 30px;
  color: $color-white;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  border: 3px solid $color-white;
  border-radius: 25px;

  &:hover {
    background-color: $color-white;
    color: $color-pink;
  }

  &:active {
    background-color: $color-white;
    color: rgba($color-pink, 0.3);
  }
}

.download__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  box-sizing: border-box;
  @include list-reset;
  padding: 0 35px;
  margin-bottom: 15px;
}

.download__info {
  margin: 0;
  color: $color-white;
  text-align: center;
  font-weight: 300;
}

@media (min-width: $tablet-width) {
  .download {
    margin-top: -110px;
    background-position: 170px bottom, center;
    background-size: auto 500px, cover;
  }
  .download__wrapper {
    width: $tablet-width;
    align-items: left;
    padding: 193px 20px 108px 20px;
  }

  .download__lead {
    display: block;
    box-sizing: border-box;
    width: 300px;
    margin: 0;
    padding: 30px 50px;
  }

  .download__button {
    width: 300px;
    margin-bottom: 45px;
  }

  .download__list {
    box-sizing: border-box;
    width: 300px;
    padding: 0 45px;
    margin-bottom: 30px;
  }

  .download__info {
    width: 300px;
    font-size: 18px;
    line-height: $body-line-height;
  }
}

@media (min-width: $desktop-width) {
  .download {
    background-position: 60% bottom, center;
    background-size: auto 600px, cover;
  }
  .download__wrapper {
    width: $desktop-width;
    align-items: left;
    height: 620px;
    // временно
    padding: 90px 130px;
  }
  .download__lead {
    margin-bottom: 50px;
  }
  .download__button {
    margin-bottom: 50px;
  }
  .download__list {
    margin-bottom: 50px;
  }
}
