.form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .form__wrapper {
  flex-direction: row;
  align-items: center;
  }
}

.form__label,
.form__legend {
  color: $pink;
  font-size: $body-font-size;
  line-height: $body-font-size + 6px;
  text-transform: uppercase;
}

.form__label {
  padding-left: 20px;
}

.form__legend {
  margin-bottom: 45px;
  text-align: center;
}

.form__fieldset {
  border: none;
  padding: 0;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  &::-webkit-input-placeholder {
    color: $blue;
  }
  &::-moz-placeholder {
    color: $blue;
  }
  &:-moz-placeholder  {
    color: $blue;
  }
  &:-ms-input-placeholder {
    color: $blue;
  }
}

.form__fieldset--gray {
  background-color: $lightgrey;
}

.progress__list {
  @include list-reset;
}

.form__label--checkbox {
  position: relative;
  display: block;
  margin-left: 70px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -50px;
    width: 35px;
    height: 35px;
    background-color: $white;
    border: 2px solid #e5e5e5;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -45px;
  width: 25px;
  height: 10px;
  border-bottom: 2px solid $pink;
  border-left: 2px solid $pink;
  transform: rotate(-45deg);
}

.apps__list {
  @include list-reset;
}

.form__label--radio {
  position: relative;
  display: block;
  margin-left: 70px;
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -50px;
    width: 35px;
    height: 35px;
    background-color: $white;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  top: 7px;
  left: -38px;
  width: 15px;
  height: 15px;
  background-color: $pink;
  border-radius: 50%;
}

.form__textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  &textarea:-moz-placeholder {
  	color: $blue;
  }
  &textarea::-moz-placeholder {
  	color: $blue;
  }
  &textarea::-webkit-input-placeholder {
  	color: $blue;
  }
  &textarea:-ms-placeholder {
  	color: $blue;
  }
  &textarea::placeholder {
  	color: $blue;
  }
}

.form__button {
  @include button-green;
  width: 100%;
}

.form__required-info {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  &--pink {
    color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset:first-child {
    order: 0;
  }
  .form__fieldset:nth-child(2) {
    order: 3;
  }
  .form__fieldset:nth-child(3) {
    order: 1;
  }
  .form__fieldset:nth-child(3) {
    order: 2;
  }
  .form__fieldset:nth-child(5) {
    order: 4;
  }
  .form__wrapper--row {
    display: flex;
    justify-content: space-between;
    order: 5;
  }
  .form__button {
    width: 300px;
    box-sizing: border-box;
  }
  .form__required-info {
    width: 300px;
    box-sizing: border-box;
  }
}
