.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
/*  padding: 0 20px;*/
  margin: 0 auto;
  margin-bottom: 10px;
}

.form__wrapper {
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  p {
    margin: 0;
  }
}

.form__wrapper--col {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

.form__legend {
  padding: 40px 30px;
  text-align: center;
}

.form__label,
.form__legend {
  color: $color-pink;
  font-size: $body-font-size;
  line-height: $body-font-size + 6px;
  text-transform: uppercase;
}

.form__label {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  &::-webkit-input-placeholder {
    color: $color-blue;
  }
  &::-moz-placeholder {
    color: $color-blue;
  }
  &:-moz-placeholder  {
    color: $color-blue;
  }
  &:-ms-input-placeholder {
    color: $color-blue;
  }
}

.form__fieldset--gray {
  margin-bottom: 35px;
  background-color: $color-lightgrey;
}

.progress__list {
  @include list-reset;
 }

.progress__item:last-child {
  .form__label--checkbox {
    margin-bottom: 45px;
  }
}

.form__label--checkbox {
  position: relative;
  display: block;
  margin-left: 67px;
  margin-bottom: 52px;
  font-size: 18px;
  line-height: 30px;
  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -70px;
    width: 35px;
    height: 35px;
    background-color: $color-white;
    border: 2px solid #e5e5e5;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -60px;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid $color-pink;
  border-left: 2px solid $color-pink;
  transform: rotate(-45deg);
}

.form__fieldset--apps {
  margin-bottom: 0;
}

.form__fieldset--apps .form__legend {
  padding-top: 37px;
  padding-bottom: 37px;
}

.apps__list {
  @include list-reset;
}

.form__label--radio {
  position: relative;
  display: block;
  margin-left: 70px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 30px;
  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -73px;
    width: 35px;
    height: 35px;
    background-color: $color-white;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  top: 7px;
  left: -61px;
  width: 15px;
  height: 15px;
  background-color: $color-pink;
  border-radius: 50%;
}

.form__fieldset--textarea .form__legend {
  padding-bottom: 15px;
}

.form__textarea {
  width: 100%;
  min-height: 200px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;
  &textarea:-moz-placeholder {
  	color: $color-blue;
  }
  &textarea::-moz-placeholder {
  	color: $color-blue;
  }
  &textarea::-webkit-input-placeholder {
  	color: $color-blue;
  }
  &textarea:-ms-placeholder {
  	color: $color-blue;
  }
  &textarea::placeholder {
  	color: $color-blue;
  }
}

.form__button {
  @include button-green;
  width: 100%;
  margin-bottom: 35px;
}

.form__required-info {
  font-size: $body-font-size;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  &--pink {
    color: $color-pink;
  }
}

@media (min-width: $tablet-width) {
  .form__wrapper--col {
  flex-direction: row;
  align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
  }
  .form__fieldset:first-child {
    order: 0;
  }
  .form__fieldset:nth-child(2) {
    order: 3;
  }
  .form__fieldset:nth-child(3) {
    order: 1;
  }
  .form__fieldset:nth-child(3) {
    order: 2;
  }
  .form__fieldset:nth-child(5) {
    order: 4;
  }
  .form__wrapper--row {
    display: flex;
    justify-content: space-between;
    order: 5;
  }
  .form__button {
    width: 300px;
    box-sizing: border-box;
  }
  .form__required-info {
    width: 300px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: $desktop-width;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 130px;
  }
  .form__wrapper--col {
    flex-direction: row;
  }
  .progress__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .progress__item {
    width: 260px;
  }
  .form__fieldset--name,
  .form__fieldset--apps {
    width: 450px;
  }
  .form__fieldset--contacts,
  .form__fieldset--textarea {
    width: 100%;
  }
  .form__wrapper--row {
    width: 100%;
  }
}
