.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto 15px;
}

.form__wrapper {
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;

  p {
    margin: 0;
  }
}

.form__wrapper--col {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin-bottom: 21px;
}

.form__legend {
  padding: 38px 30px 42px;
  text-align: center;
}

.form__label,
.form__legend {
  color: $color-pink;
  font-size: $body-font-size;
  line-height: $body-font-size + 6px;
  text-transform: uppercase;
}

.form__label {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;

  &::-webkit-input-placeholder {
    color: $color-blue;
  }

  &::-moz-placeholder {
    color: $color-blue;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $color-blue;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $color-blue;
  }

  &:hover {
    border-color: $color-darkblue;
  }

  &:focus {
    border-color: $color-pink;
  }

  &:hover + svg {
    background-color: $color-darkblue;
  }

  &:active + svg {
    background-color: $color-pink;

    path {
      fill: rgba($color-white, 0.5);
    }
  }

  &:focus + svg {
    background-color: $color-pink;

    path {
      fill: rgba($color-white, 0.5);
    }
  }

  &--icon {
    display: none;
  }
}

.form__fieldset--gray {
  margin-bottom: 35px;
  background-color: $color-lightgrey;
}

.progress__list {
  @include list-reset;
}

.progress__item:last-child {
  .form__label--checkbox {
    margin-bottom: 45px;
  }
}

.form__label--checkbox {
  position: relative;
  display: block;
  margin-left: 67px;
  margin-bottom: 52px;
  font-size: 18px;
  line-height: 30px;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -70px;
    width: 35px;
    height: 35px;
    background-color: $color-white;
    border: 2px solid #e5e5e5;
  }

  &:hover::before {
    border: 2px solid $color-darkblue;
  }

  &:active::before {
    border: 2px solid $color-pink;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  position: absolute;
  content: "";
  top: 5px;
  left: -60px;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid $color-pink;
  border-left: 2px solid $color-pink;
  transform: rotate(-45deg);
}

.form__fieldset--contacts .form__legend {
  display: none;
}

.form__fieldset--apps {
  margin-bottom: 0;
}

.form__fieldset--apps .form__legend {
  padding-top: 37px;
  padding-bottom: 37px;
}

.apps__list {
  @include list-reset;
}

.form__label--radio {
  position: relative;
  display: block;
  margin-left: 70px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 30px;

  &::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -73px;
    width: 35px;
    height: 35px;
    background-color: $color-white;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }

  &:hover::before {
    border: 2px solid $color-darkblue;
  }

  &:active::before {
    border: 2px solid $color-pink;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  position: absolute;
  content: "";
  top: 7px;
  left: -61px;
  width: 15px;
  height: 15px;
  background-color: $color-pink;
  border-radius: 50%;
}

.form__fieldset--textarea .form__legend {
  padding-bottom: 15px;
}

.form__textarea {
  width: 280px;
  min-height: 200px;
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid #e5e5e5;

  &:-moz-placeholder {
    color: $color-blue;
  }

  &::-moz-placeholder {
    color: $color-blue;
  }

  &::-moz-placeholder,
  :-moz-placeholder {
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    color: $color-blue;
  }

  &:-ms-placeholder {
    color: $color-blue;
  }

  &::placeholder {
    color: $color-blue;
  }

  &:hover {
    border: 2px solid $color-darkblue;
  }

  &:active {
    border: 2px solid $color-pink;
  }

  &:focus {
    border: 2px solid $color-pink;
  }
}

.form__wrapper--row {
  margin: 0 20px;
}

.form__button {
  @include button-green;
  width: 280px;
  margin-bottom: 20px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.form__required-info {
  margin-bottom: 0;
  font-size: $body-font-size;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  &--pink {
    color: $color-pink;
  }

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form {
    width: $tablet-width;
    padding: 0 20px;
    margin-bottom: 8px;
  }

  .form__wrapper {
    width: 616px;
    margin: 0;
  }

  .form__wrapper--col {
    flex-direction: row;
    align-items: baseline;
  }

  .form__label {
    padding: 0;
    margin-right: 17px;
  }

  .form__input {
    margin-bottom: 52px;
  }

  .form__fieldset {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 65px;
  }

  .form__fieldset:not(:first-child) {
    border: 2px solid #e5e5e5;
  }

  .form__fieldset--name {
    margin-bottom: 17px;
    order: 0;

    .form__wrapper {
      padding: 0;
    }
  }

  .form__fieldset--gray {
    background-color: $color-white;
  }

  .form__fieldset--apps {
    padding-top: 55px;
    padding-bottom: 15px;
    order: 1;
  }

  .form__fieldset--apps .form__legend {
    @include form-legend;
    top: -12px;
    left: 125px;
  }

  .apps__list {
    margin-left: 27px;
  }

  .form__label--radio::before {
    left: -60px;
  }

  .form__input--radio:checked + .form__label--radio::after {
    left: -47px;
  }

  .form__fieldset--contacts {
    padding-top: 45px;
    order: 2;

    .form__input {
      width: 436px;
      height: 63px;
      margin-bottom: 15px;
    }

    .form__input--icon {
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 63px;
      height: 63px;
      right: 40px;
      padding: 21px;


      background-color: #e5e5e5;

      &-mail {
        padding-top: 25px;
        padding-bottom: 25px;
      }
    }

    .form__label {
      margin-bottom: 32px;
      order: 1;
      margin-left: 15px;
    }

    .form__legend {
      @include form-legend;
      display: block;
      margin-top: 30px;
      top: -41px;
      left: 188px;
    }
  }

  .form__wrapper--contacts {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 38px;
  }

  .form__fieldset--progress {
    padding-top: 55px;
    order: 3;

    .form__legend {
      @include form-legend;
      top: -10px;
      left: 100px;
    }

    .form__label--checkbox::before {
      left: -60px;
    }

    .form__input--checkbox:checked + .form__label--checkbox::after {
      left: -50px;
    }
  }

  .progress__list {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 53px;
  }

  .form__fieldset--textarea {
    padding: 45px 0;
    margin-bottom: 65px;
    order: 4;
    text-align: center;

    .form__legend {
      @include form-legend;
      top: -10px;
      left: 195px;
    }
  }

  .form__textarea {
    width: 500px;
    min-height: 193px;
    margin-bottom: 0;
  }

  .form__wrapper--row {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding: 0;
    order: 5;
  }

  .form__button {
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 44px;
  }

  .form__required-info {
    width: 300px;
    padding-top: 5px;
    box-sizing: border-box;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: $desktop-width;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 130px;
  }

  .form__wrapper {
    width: auto;
  }

  .form__wrapper--col {
    flex-direction: row;
  }

  .progress__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
  }

  .progress__item {
    &:nth-child(1) {
      width: 270px;
      order: 1;
    }

    &:nth-child(2) {
      width: 270px;
      order: 4;
    }

    &:nth-child(3) {
      width: 250px;
      order: 2;
    }

    &:nth-child(4) {
      width: 250px;
      order: 5;
    }

    &:nth-child(5) {
      width: 220px;
      order: 3;
    }

    &:nth-child(6) {
      width: 220px;
      order: 6;
    }
  }

  .form__fieldset--name,
  .form__fieldset--apps {
    width: 430px;
  }

  .form__fieldset--name {
    margin-bottom: 0;
    padding-top: 0;

    .form__input {
      height: 65px;
      margin-bottom: 52px;
    }
  }

  .form__fieldset--apps {
    .form__legend {
      left: 35px;
    }

    .apps__list {
      margin-left: 40px;
    }
  }

  .form__fieldset--contacts {
    padding-top: 40px;
    margin-left: 0;
    margin-right: 0;

    .form__wrapper {
      width: 936px;
      display: flex;
    }

    .form__legend {
      left: 350px;
    }
  }

  .form__wrapper--contacts {
    width: 410px;
    padding: 0 35px;

    .form__input {
      width: 315px;
      height: 63px;
    }

    .form__input--icon {
      right: 35px;
    }

    .form__label {
      margin-left: 20px;
      margin-bottom: 20px;
    }
  }

  .form__fieldset--progress {
    width: 944px;

    .form__legend {
      left: 260px;
    }

    .form__wrapper {
      padding: 0;
    }

    .form__label--checkbox {
      margin-bottom: 50px;
    }

    .progress__list {
      margin-bottom: 15px;
    }
  }

  .form__fieldset--textarea {
    width: 100%;
    margin-bottom: 65px;
    padding: 40px 0;

    .form__legend {
      left: 350px;
    }

    .form__textarea {
      width: 820px;
      min-height: 124px;
    }
  }

  .form__wrapper--row {
    width: 100%;

    .form__button {
      margin-bottom: 0;
    }
  }

  .form__required-info {
    width: 320px;
  }

  .form__required-info--hidden {
    display: inline-block;
  }
}
