.page-header {
  background-color: $color-darkblue;
}

.page-header__wrapper {
  width: 320px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

.main-navigation__toggle {
  width: 50px;
  height: 25px;
  background-image: linear-gradient(to bottom, #ffffff 0px, #ffffff 5px, $color-darkblue 5px, $color-darkblue 10px, #ffffff 10px, #ffffff 15px, $color-darkblue 15px, $color-darkblue 20px, #ffffff 20px, #ffffff 25px);
  border: none;
}


@media (min-width: $tablet-width) {
  .page-header__wrapper {
    min-width: $tablet-width;
    padding: 20px 20px;
  }
  .page-header__logo-image {
    visibility: hidden;
  }
  .page-header__logo {
    width: 147px;
    height: 40px;
    background-image: url("../img/logo-pink-blue-mobile.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: $desktop-width - 1) {
  .page-header {
    margin-top: 325px;   // временно
    position: relative;
  }
  .main-navigation__list {
    position: absolute;
    top: -325px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
}
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    min-width: $desktop-width;
    padding: 20px 130px;
  }
  .main-navigation__list {
    display: flex;
    width: 640px;
  }
  .main-navigation__item {
    width: 150px;
  }
  .main-navigation__toggle {
    display: none;
  }
  .page-header {
    margin-top: 0;
  }
}

.main-navigation__list {
  @include list-reset;
  background-color: $color-blue;
}

.main-navigation__item {
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000101;
}

.main-navigation__link {
  color: $color-white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: $color-pink;
  }
  &:active {
    color: rgba($color-pink, 0.3);
  }
}

.main-navigation__link--curent {
  &:hover {
    color: $color-white;
  }
  &:active {
    color: $color-white;
  }
}
