.page-header {
  position: relative;
  background-color: rgba($color-darkblue, 0.8);
}

.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.main-navigation--opened .page-header__wrapper {
  background-color: $color-blue;
}

.page-header__logo--wrapper {
  width: 320px;
  box-sizing: border-box;
  padding: 22px 20px;
  margin: 0 auto;
}

.main-navigation {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  width: 75px;
  height: 22px;
}

.page-header__logo svg {
  margin-top: -18px;
  margin-left: -72px;
}

.page-header__logo:hover path {
  fill: $color-pink;
}

.page-header__logo:active path {
  fill: rgba($color-white, 0.3);
}

.main-navigation__toggle {
  position: absolute;
  top: -47px;
  left: 78%;
  z-index: 2;
  display: block;
  width: 50px;
  height: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.main-navigation--closed .main-navigation__toggle::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50px;
  height: 25px;
  background-color: $color-darkblue;
  background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 5px, $color-darkblue 5px, $color-darkblue 10px, #ffffff 10px, #ffffff 15px, $color-darkblue 15px, $color-darkblue 20px, #ffffff 20px, #ffffff 25px);
}

.main-navigation--closed .main-navigation__toggle:hover::before {
  background-image: linear-gradient(to bottom, $color-pink 0, $color-pink 5px, $color-darkblue 5px, $color-darkblue 10px, $color-pink 10px, $color-pink 15px, $color-darkblue 15px, $color-darkblue 20px, $color-pink 20px, $color-pink 25px);
}

.main-navigation--closed .main-navigation__toggle:active::before {
  background-image: linear-gradient(to bottom, rgba($color-pink, 0.3) 0, rgba($color-pink, 0.3) 5px, $color-darkblue 5px, $color-darkblue 10px, rgba($color-pink, 0.3) 10px, rgba($color-pink, 0.3) 15px, $color-darkblue 15px, $color-darkblue 20px, rgba($color-pink, 0.3) 20px, rgba($color-pink, 0.3) 25px);
}

.main-navigation--opened .main-navigation__toggle {
  width: 26px;
  height: 26px;
  top: -50px;
  left: 86%;
  right: 20px;

  &::after,
  &::before {
    position: absolute;
    content: "";
    top: 12px;
    left: -2px;
    width: 30px;
    height: 4px;
    background-color: $color-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: $color-pink;
  }

  &:active::before {
    background-color: rgba($color-pink, 0.1);
  }

  &:active::after {
    background-color: rgba($color-pink, 0.3);
  }
}

@keyframes open {
  0% {
    transform: translateY(100%) scale(0.6) scaleY(0.5);
  }

  60% {
    transform: translateY(-7%) scaleY(1.12);
  }

  75% {
    transform: translateY(3%);
  }

  100% {
    transform: translateY(0%) scale(1) scaleY(1);
  }
}

@media (max-width: $tablet-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }

  .main-navigation--opened {
    background-color: $color-blue;
  }

  .main-navigation--opened .main-navigation__item {
    display: block;
    background-color: $color-blue;
    animation: open 0.8s;
  }
}

.main-navigation__list {
  @include list-reset;
  background-color: $color-blue;
}

.main-navigation__item {
  box-sizing: border-box;
  padding: 16px 16px 15px;
  text-align: center;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000101;
}

.main-navigation__link {
  color: $color-white;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $color-pink;
  }

  &:active {
    color: rgba($color-pink, 0.3);
  }
}

.main-navigation__link--curent {
  &:hover {
    color: $color-white;
  }

  &:active {
    color: $color-white;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo--wrapper {
    padding: 25px 20px 45px;
    width: $tablet-width;
  }

  .page-header__logo {
    display: block;
    width: 147px;
    height: 40px;
  }

  .page-header__logo svg {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .main-navigation__toggle {
    top: -70px;
    left: 89.5%;
  }

  .main-navigation--opened .main-navigation__toggle {
    top: -68px;
    left: 93%;
  }

  .main-navigation__item {
    padding: 15px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    position: relative;
    width: $desktop-width;
    box-sizing: border-box;
    padding: 13px 130px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__logo--wrapper {
    padding: 15px 0;
  }

  .page-header__logo:hover .page-header__logo--stars {
    fill: $color-white;
    path {
      fill: $color-white;
    }
  }

  .page-header__logo:active .page-header__logo--stars {
    fill: rgba($color-pink, 0.3);
    path {
      fill: rgba($color-pink, 0.3);
    }
}

/*
  .page-header__logo--stars {
    display: block;
    fill: $color-pink;

    path {
      fill: $color-pink;
    }
  }
*/
  .main-navigation {
    margin: 0;
  }

  .main-navigation--opened .page-header__wrapper {
    background-color: transparent;
  }

  .main-navigation .main-navigation__item {
    display: block;
    padding: 30px;
    border-color: transparent;
    background-color: transparent;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .main-navigation .main-navigation__list {
    display: flex;
    justify-content: space-between;
    width: 622px;
    margin-left: auto;
    background-color: transparent;
  }

  .main-navigation__link {
    display: block;
    min-height: 29px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: none;
    border-bottom: 2px solid transparent;

    &--curent {
      border-bottom: 2px solid $color-white;
    }
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation--opened .page-header__wrapper {
    background-color: none;
  }
}
