@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin button-green {
  padding: 15px 30px;
  color: $color-white;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
}
