.modal {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  width: 320px;
  box-sizing: border-box;
  padding-top: 40px;
  margin: 0 auto;
  background-color: $color-white;
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.15);
  z-index: 100;
}

.modal__title {
  padding: 0 20px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: $body-line-height;
  font-weight: 700;
  text-align: center;
}

.modal__paragraph {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 25px;
  text-align: center;
  white-space: pre-wrap;
}

.modal__button {
  width: 280px;
  @include button-green;
}

.modal__button--background {
  padding: 50px 20px;
  background-color: $color-lightgrey;
  text-align: center;
}

.modal-sent {
  top: 1622px;
}

.modal-error {
  top: 1150px;
  .modal__paragraph {
    padding: 0 20px;
  }
  .modal__button--background {
    background-color: $color-white;
    padding-top: 8px;
  }
}

@media (min-width: $tablet-width) {
  .modal {
  width: 460px;
  padding-top: 65px;
  }
  .modal__title {
    width: 230px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }
  .modal__paragraph {
    white-space: normal;
    padding-left: 67px;
    padding-right: 67px;
    font-size: 18px;
    line-height: 24px;
  }
  .modal__button {
    width: 300px;
  }
  .modal-error {
    top: 880px;
    .modal__paragraph {
      padding-left: 67px;
      padding-right: 67px;
    }
  }
  .modal-sent {
    top: 1355px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
  width: 776px;
  }
}
