.page-inner {
  margin-top: -70px;
}

.page-inner__title {
  display: block;
  box-sizing: border-box;
  padding: 100px 20px 90px;
  margin: 0 auto;
  color: $color-white;
  font-size: 24px;
  line-height: $body-line-height;
  font-weight: 300;
  text-align: center;
}

.page-inner__paragraph-wrapper--bg {
  background-color: $color-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

.page-inner__paragraph {
  width: 320px;
  box-sizing: border-box;
  padding: 45px 20px 48px 20px;
  margin: 0 auto;
  text-align: center;
  line-height: $body-line-height + 6px;
}

@media (min-width: $tablet-width) {
  .page-inner {
    margin-top: -90px;
  }
  .page-inner__title {
    padding-top: 180px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 138px;
    font-size: 50px;
    line-height: 1.2;
  }

  .page-inner__paragraph {
    width: 500px;
    padding: 90px 20px 78px 20px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-inner__paragraph-wrapper {
    width: $desktop-width;
  }

  .page-inner__title {
    width: $desktop-width;
  }
}
