.page-inner {
  margin-top: -70px;
}

.page-inner__title {
  display: block;
  width: 280px;
  box-sizing: border-box;
  margin: 0 auto;
  color: $color-white;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}

.page-inner__title {
  padding: 98px 20px 82px;
}

.page-inner__title-contest {
  padding-bottom: 55px;
}

.page-inner__paragraph-wrapper {
  margin: 0 auto;
}

.page-inner__paragraph-wrapper--bg {
  background-color: $color-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-inner__paragraph {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 45px 38px 48px 38px;
  text-align: center;
  line-height: $body-line-height + 6px;
}

.page-inner__paragraph-contest {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.page-inner__paragraph-contest--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-inner {
    margin-top: -110px;
  }
  .page-inner__title {
    width: 620px;
    font-size: 50px;
    line-height: 1.2;
  }

  .page-inner__title-photos {
    padding: 180px 130px 138px;
  }

  .page-inner__title-contest {
    padding: 180px 65px 77px;
  }

  .page-inner__paragraph {
    width: 620px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  .page-inner__paragraph-photos {
    padding: 92px 90px 55px 90px;
  }

  .page-inner__paragraph-contest {
    padding: 92px 65px 50px;
  }

  .page-inner__paragraph-contest--hidden {
    display: block;
  }

  .page-inner__paragraph-wrapper--bg {
    margin-top: -110px;
    background-position: center -90px;
  }
}

@media (min-width: $desktop-width) {
  .page-inner {
    margin-top: -130px;
  }

  .page-inner__title {
    width: 940px;
  }

  .page-inner__title-photos {
    padding: 200px 280px 100px;
  }

  .page-inner__title-contest {
    padding: 200px 80px 100px;
  }

  .page-inner__paragraph {
    width: 940px;
  }
  .page-inner__paragraph-photos {
    padding-left: 175px;
    padding-right: 175px;
    margin-bottom: 30px;
  }

  .page-inner__paragraph-contest {
    padding: 0 90px 0;
  }

  .page-inner__paragraph-contest--hidden {
    display: inline;
  }

  .page-inner__paragraph-wrapper {
    width: $desktop-width;
    padding: 95px 0 60px;
  }

  .page-inner__paragraph-wrapper--bg {
    background-position: center -590px;
  }
}
