.page-footer {
  padding: 40px 20px;
}

@media (min-width: $tablet-width) {
  .page-footer {
  display: flex;
  justify-content: space-between;
  }
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__logo-image {
  margin-bottom: 40px;
}
