.page-inner {
  margin-top: -70px;
}

.page-inner__title {
  display: block;
  box-sizing: border-box;
  padding: 98px 20px 82px;
  margin: 0 auto;
  color: $color-white;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  text-align: center;
}

.page-inner__title-contest {
  padding-bottom: 55px;
}

.page-inner__paragraph-wrapper {
  margin: 0 auto;
}

.page-inner__paragraph-wrapper--bg {
  background-color: $color-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top left;
}

.page-inner__paragraph {
  width: 320px;
  box-sizing: border-box;
  padding: 45px 20px 48px 20px;
  margin: 0 auto;
  text-align: center;
  line-height: $body-line-height + 6px;
}

.page-inner__paragraph-contest {
  padding-bottom: 25px;
  margin-bottom: 15px;
}

.page-inner__paragraph-contest--hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-inner {
    margin-top: -90px;
  }
  .page-inner__title {
    padding-top: 180px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 138px;
    font-size: 50px;
    line-height: 1.2;
  }

  .page-inner__paragraph {
    width: 500px;
    padding: 90px 20px 78px 20px;
    font-size: 18px;
    line-height: 30px;
  }

  .page-inner__title-contest {
    padding-top: 180px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 77px;
  }

  .page-inner__paragraph-contest {
    padding: 92px 0 78px 0;
  }
  .page-inner__paragraph-contest--hidden {
    display: block;
    padding: 0 60px 70px 60px;
    margin-top: -90px;
  }
}

@media (min-width: $desktop-width) {
  .page-inner {
    margin-top: -130px;
  }
  .page-inner__title {
    padding: 200px 290px 100px;
  }
  .page-inner__paragraph-wrapper {
    width: $desktop-width;
  }
  .page-inner__paragraph {
    width: 640px;
    padding-top: 95px;
    padding-bottom: 85px;
  }
}
