.photogallery__panorama {
  position: relative;
  &::before {
    position: absolute;
    content: "Панорама дня";
    width: 140px;
    height: 36px;
    top: 0;
    left: 160px;
    color: $white;
    font-size: 12px;
    line-height: $body-line-height;
    font-weight: 700;
    text-transform: uppercase;
    background-color: $pink;
  }
}

@media (min-width: $tablet-width) {
  .photogallery__panorama-photo {
    width: 100%;
  }
  .photogallery__panorama::before {
    left: 500px;
  }
}

.photogallery__panorama-wrapper {
  padding: 0 20px;
  background-color: $lightgrey;
  .photogallery__panorama-blockquote {
    margin: 0 15px;
  }
}

.photogallery__panorama-author {
  margin: 0 15px;
  font-weight: 700;
  .photogallery__panorama-time {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
  }
}

.photogallery__panorama-likes {
  position: relative;
  margin-left: 50px;
  color: $pink;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    top: 5px;
    left: -35px;
    background-image: url("../img/icon-heart.svg");
  }
}

.photogallery__list {
  display: flex;
  flex-direction: column;
  @include list-reset;
}

.photogallery__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: $lightgrey;
}

@media (min-width: $tablet-width) {
  .photogallery__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .photogallery__item {
  width: 300px;
  padding: 0;
  }
}

.photogallery__author {
  padding: 0 15px;
  font-weight: 700;
  .photogallery__time {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
  }
}

.photogallery__blockquote {
  margin: 0 15px;
}

.photogallery__likes {
  position: relative;
  margin-left: 50px;
  color: $pink;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    top: 5px;
    left: -30px;
    background-image: url("../img/icon-heart.svg");
  }
}
