.photo-download__wrapper {
  width: 320px;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  line-height: $body-line-height + 6px;
}

.photo-download__paragraph {
  margin: 0;

  &:last-child {
    margin-bottom: 40px;
  }
}

.photo-download__user-section {
  background-color: $color-lightgrey;
  padding-top: 20px;
  padding-bottom: 40px;
}

.photo-download__photo {
  margin-bottom: 22px;
}

.photo-download__editing-list {
  @include list-reset;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.photo-download__editing-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }

  &--cut {
    fill: $color-pink;
  }

  &--color {
    fill: #b5b9be;
  }

  &--saturation {
    fill: #b5b9be;
  }

  &:hover .photo-download__editing-item--fill {
    fill: #8d949b;
  }
}

.photo-download__range-controls {
  position: relative;
  padding: 0 20px;
}

.photo-download__scale {
  width: 240px;
  height: 2px;
  margin-bottom: 35px;
  background-color: $color-blue;
  border-bottom: 2px solid #dddfe0;
}

.photo-download__range-toggle {
  position: absolute;
  top: -7px;
  left: 210px;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  background-color: $color-white;
  border: 2px solid $color-pink;
  border-radius: 50%;
  cursor: pointer;
}

.photo-download__range-toggle:active {
  background-color: $color-pink;
}

.photo-download__button--post {
  display: block;
  box-sizing: border-box;
  width: 280px;
  padding: 15px 35px;
  margin-top: 70px;
  margin-bottom: 15px;
  color: $color-pink;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: 3px solid $color-pink;
  border-radius: 30px;

  &:hover {
    background-color: $color-pink;
    color: $color-white;
  }

  &:active {
    background-color: $color-pink;
    color: rgba($color-white, 0.3);
  }
}

.photo-download__button--cancel {
  display: block;
  box-sizing: border-box;
  width: 280px;
  padding: 15px 35px;
  color: rgba($color-blue, 0.1);
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border: 3px solid rgba($color-blue, 0.1);
  border-radius: 30px;

  &:hover {
    color: rgba($color-blue, 0.3);
    background-color: transparent;
    border: 3px solid rgba($color-blue, 0.3);
  }

  &:active {
    color: rgba($color-white, 0.3);
    background-color: rgba($color-blue, 0.3);
    border: 3px solid transparent;
  }
}

.photo-download__range-controls--2,
.photo-download__range-controls--3 {
  display: none;
}

@media (min-width: $tablet-width) {
  .photo-download__range-controls--2,
  .photo-download__range-controls--3 {
    display: block;
  }

  .photo-download__paragraph {
    font-size: 18px;

    &:last-child {
      margin-bottom: 70px;
    }
  }

  .photo-download__user-section {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .photo-download__user-section .photo-download__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .photo-download__wrapper {
    width: $tablet-width;
    padding-top: 25px;

    img {
      width: 300px;
      min-height: 400px;
    }
  }

  .photo-download__container {
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .photo-download__range-controls--wrapper {
    width: 240px;
    display: flex;
    flex-direction: column;
  }

  .photo-download__scale {
    width: 200px;
    margin: 20px 0 48px;
  }

  .photo-download__range-controls:last-child {
    .photo-download__scale {
      margin-bottom: 15px;
    }
  }

  .photo-download__range-toggle {
    top: 13px;

    &--1 {
      left: 165px;
    }

    &--2 {
      left: 45px;
    }

    &--3 {
      left: 115px;
    }
  }

  .photo-download__editing-list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 10px 0;
    margin-bottom: 0;
  }

  .photo-download__editing-item {
    margin: 0 0 50px;

    &--cut {
      width: 22px;
      height: 22px;
    }

    &--color {
      width: 24px;
      height: 22px;
      fill: $color-pink;
    }

    &--saturation {
      width: 16px;
      height: 16px;
      fill: $color-pink;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .photo-download__button--post {
    width: 260px;
    padding: 15px;
  }

  .photo-download__button--cancel {
    width: 260px;
    padding: 15px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .photo-download__wrapper {
    width: $desktop-width;
    padding: 0 130px;
  }

  .photo-download__paragraph {
    &:last-child {
      margin-bottom: 40px;
    }
  }

  .photo-download__user-section {
    padding-bottom: 35px;
    background-color: $color-white;
  }

  .photo-download__user-section .photo-download__wrapper {
    width: 940px;
    padding: 55px 60px 45px 80px;
    background-color: $color-lightgrey;
  }

  .photo-download__container {
    width: 410px;
  }

  .photo-download__photo {
    margin-bottom: 0;
  }

  .photo-download__range-controls--wrapper {
    width: 270px;
    padding-right: 50px;
  }

  .photo-download__range-controls {
    padding: 0;
  }

  .photo-download__range-toggle {
    top: 13px;

    &--1 {
      left: 70px;
    }

    &--2 {
      left: 250px;
    }

    &--3 {
      left: 160px;
    }
  }

  .photo-download__scale {
    width: 290px;
  }

  .photo-download__editing-list {
    padding: 0;
  }

  .photo-download__editing-item {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
  }

  .photo-download__button {
    width: 180px;
    margin-top: 160px;
  }
}
