.reviews__wrapper {
  position: relative;
  width: 320px;
  min-height: 375px;
  box-sizing: border-box;
  padding: 45px 20px 50px 20px;
  margin: 0 auto;
}

.reviews__toggles--wrapper {
  position: absolute;
  display: flex;
  left: calc(50% - 26px);
  bottom: 66px;
  font-size: 0;
}

.reviews__list {
  @include list-reset;
  margin-bottom: 32px;
  background-color: $color-white;
}

.reviews__item {
  width: 100%;
  margin: 0;
  text-align: center;
}

.reviews__item-button {
  display: none;
}

.reviews__author-name {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
}

.reviews__text {
  line-height: $body-line-height + 6px;
  text-align: center;
}

.reviews__author-status {
  display: none;
  line-height: $body-line-height + 6px;
}

@keyframes onset {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: $tablet-width-only) {
  .reviews__item {
    display: none;
    animation: onset 0.8s;
  }

  .reviews__toggle {
    position: relative;
    width: 6px;
    height: 6px;
    padding: 0;
    margin-right: 17px;
    background-color: #b5b9be;
    border-radius: 50%;
    border: none;
  }

  .review__toggle:hover {
    background-color: #7e868f;
  }

  .review__toggle:active {
    background-color: #e9ebec;
  }

  .review__input--1:checked ~ .reviews__list .reviews__item:nth-child(1) {
    display: block;
  }

  .review__input--2:checked ~ .reviews__list .reviews__item:nth-child(2) {
    display: block;
  }

  .review__input--3:checked ~ .reviews__list .reviews__item:last-child {
    display: block;
  }

  .review__input--1:checked ~ .reviews__toggles--wrapper .reviews__toggle--1::before,
  .review__input--2:checked ~ .reviews__toggles--wrapper .reviews__toggle--2::before,
  .review__input--3:checked ~ .reviews__toggles--wrapper .reviews__toggle--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin: -5.5px;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    background-color: $color-white;
    border: 3px solid $color-darkblue;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    width: $tablet-width;
    padding-bottom: 0;
  }

  .reviews__list {
    margin-bottom: 0;
  }

  .review__input--1:checked ~ .reviews__list .reviews__item:nth-child(1) {
    display: flex;
    flex-direction: column;
  }

  .review__input--2:checked ~ .reviews__list .reviews__item:nth-child(2) {
    display: flex;
    flex-direction: column;
  }

  .review__input--3:checked ~ .reviews__list .reviews__item:last-child {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    margin-bottom: 0;
    order: 1;
    font-size: 20px;
  }

  .reviews__text {
    font-size: 18px;
    margin-bottom: 36px;
  }

  .reviews__author-status {
    display: block;
    margin: 0;
    order: 2;
  }

  .reviews__toggles--wrapper {
    left: calc(50% - 26px);
    bottom: 80px;
    font-size: 0;
  }
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 10px;
}

.review__toggle {
  width: 6px;
  height: 6px;
  padding: 0;
  margin-right: 17px;
  background-color: #bec2c7;
  border-radius: 50%;
  border: none;

  &--active {
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border: 3px solid $color-darkblue;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    width: $desktop-width;
    padding: 167px 130px 95px 130px;
  }

  .reviews__item {
    position: relative;
    min-height: 204px;

    &::before {
      position: absolute;
      content: "";
      top: -90px;
      left: calc(50% - 38px);
      width: 79px;
      height: 63px;
      background-image: url("../img/icon-quotes.svg");
    }
  }

  .reviews__item-1 {
    display: none;
  }

  .reviews__item-2 {
    display: none;
  }

  .reviews__item-3 {
    display: none;
  }

  .reviews__item-button {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-left: 2px solid #bec2c7;
    border-bottom: 2px solid #bec2c7;
  }

  .reviews__item-button:hover {
    border-color: #7e868f;
  }

  .reviews__item-button:active {
    border-color: #e9ebec;
  }

  .reviews__item-button--prev {
    top: 55px;
    left: 5px;
    transform: rotate(45deg);
  }

  .reviews__item-button--next {
    top: 55px;
    right: 5px;
    transform: rotate(-135deg);
  }

  .reviews__author-name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__text {
    padding: 0 125px;
  }

  .reviews__author-status {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__toggles--wrapper {
    display: none;
  }
}
