.social__list {
  display: flex;
  justify-content: center;
  @include list-reset;
  margin-bottom: 40px;
}

.social__item {
  margin-right: 15px;
}

.social__link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover {
    border-color: $blue;
  }
  &:active {
    opacity: 0.3;
    border-color: rgba($blue, 0.4);
  }
}
