@import "variables.scss";
@import "mixins.scss";
@import "header.scss";
@import "download.scss";
@import "advantages.scss";
@import "reviews.scss";
@import "tariffs.scss";
@import "contacts.scss";
@import "page-inner.scss";
@import "photogallery.scss";
@import "photo-download.scss";
@import "page-footer";
@import "social";
@import "copyright";
@import "form";
@import "modal";

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  color: $blue;
  font-family: $font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
