.tariffs {
  position: relative;
  background-color: $color-lightgrey;
}

.tariffs::before {
  position: absolute;
  content: "";
  width: 100%;
  top: -20px;
  height: 27px;
  background-image: linear-gradient(to left top, $color-lightgrey 55%, $color-white 55%, $color-white 100%);
}

.tariffs__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
}

.tariffs__list {
  border-collapse: collapse;
}

.tariff__hidden {
  display: none;
}

.tariff__title {
  padding: 19px 70px;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-blue;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

  &--hit {
    position: relative;
    background-image: url("../img/bg-hit.svg");
    background-position: top left;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      content: "";
      width: 40px;
      height: 30px;
      background-color: transparent;
      top: 13px;
      left: 8px;
      background-image: url("../img/hit.png");
      background-repeat: no-repeat;
    }
  }
}

.tariff__name {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.tariff__price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.tariff__comments,
.tariff__filter,
.tariff__smile {
  padding: 14px 22px;
  line-height: $body-line-height + 6px;
  text-transform: uppercase;
  background-color: $color-white;
  border: 2px solid #e5e5e5;
}

.tariff__comments--on,
.tariff__filter--on,
.tariff__smile--on {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 34px 23px;
  background-position: 95% center;
}

.tariff__comments--off,
.tariff__filter--off,
.tariff__smile--off {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: 27px 26px;
  background-position: 93% center;
}

.tariff__toggles--wrapper {
  display: flex;
  justify-content: center;
  font-size: 0;
}

@media (max-width: $mobile-width-only) {
  .tariff__toggle {
    position: relative;
    width: 6px;
    height: 6px;
    padding: 0;
    margin-right: 17px;
    background-color: #b5b9be;
    border-radius: 50%;
    border: none;
  }

  .tariff__toggle:hover {
    background-color: #7e868f;
  }

  .tariff__toggle:active {
    background-color: #e9ebec;
  }

  .tariffs__wrapper {
    position: relative;
    width: 320px;
    height: 450px;
    overflow: hidden;

    input {
      position: absolute;
      top: 420px;
    }
  }

  .tariff__toggles--wrapper {
    position: absolute;
    top: 395px;
    left: 133px;
  }

  .tariffs__list {
    position: absolute;
    top: 70px;
    width: 840px;
  }

  .tariff__toggles {
    margin-top: 350px;
  }

  .tariff__input--1:checked ~ .tariffs__list {
    left: 10px;
    transition-duration: 0.5s;
  }

  .tariff__input--2:checked ~ .tariffs__list {
    left: -260px;
    transition-duration: 0.5s;
  }

  .tariff__input--3:checked ~ .tariffs__list {
    left: -520px;
    transition-duration: 0.5s;
  }

  .tariff__input--1:checked ~ .tariff__toggles--wrapper .tariff__toggle--1::before,
  .tariff__input--2:checked ~ .tariff__toggles--wrapper .tariff__toggle--2::before,
  .tariff__input--3:checked ~ .tariff__toggles--wrapper .tariff__toggle--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin: -5.5px;
    box-sizing: border-box;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    border: 3px solid $color-darkblue;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .tariffs {
    margin-bottom: 13px;
  }

  .tariffs::before {
    top: -55px;
    height: 55px;
  }

  .tariffs__wrapper {
    width: $tablet-width;
    padding: 30px 20px 70px 20px;
  }

  .tariff__toggles--wrapper {
    display: none;
  }

  .tariffs__list {
    font-size: 0;
  }

  .tariff__hidden {
    display: block;
    width: 153px;
    box-sizing: border-box;
    padding: 6.5px 15px;
    font-size: 14px;
    line-height: $body-line-height + 6px;
    background-color: $color-white;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
  }

  tr:nth-child(2) .tariff__hidden {
    border-top: 2px solid #e5e5e5;
  }

  .tariff__comments,
  .tariff__filter,
  .tariff__smile,
  .tariff__title {
    width: 155px;
    box-sizing: border-box;
    padding: 6px 15px;
  }

  .tariff__title {
    padding: 9px 10px;

    &--hit {
      background-image: url("../img/bg-hit-tablet.svg");
      background-position: left top;

      &::before {
        top: 5px;
        left: 8px;
      }
    }
  }

  .tariff__comments--on,
  .tariff__filter--on,
  .tariff__smile--on,
  .tariff__comments--off,
  .tariff__filter--off,
  .tariff__smile--off {
    background-position: center;
  }

  .tariff__hidden--empty {
    background-color: transparent;
    border: none;
  }

  .tariff__name {
    font-size: 16px;
  }

  .tariff__price {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    margin-bottom: 30px;
  }

  .tariffs::before {
    height: 86px;
    background-image: linear-gradient(to left top, $color-lightgrey 50%, $color-white 50%, $color-white 100%);
  }

  .tariffs__wrapper {
    width: $desktop-width;
    padding: 95px 130px 95px 130px;
  }

  .tariff__hidden {
    width: 235px;
    padding: 14px 20px;
    font-size: 18px;
    line-height: $body-line-height + 6px;
  }

  .tariff__comments,
  .tariff__filter,
  .tariff__smile,
  .tariff__title {
    width: 235px;
  }

  .tariff__title {
    padding: 19px;
  }

  .tariff__name {
    font-size: 18px;
  }

  .tariff__price {
    font-size: 24px;
  }

  .tariff__comments--on,
  .tariff__filter--on,
  .tariff__smile--on {
    &::before {
      top: 20px;
      left: 100px;
    }
  }

  .tariff__comments--off,
  .tariff__filter--off,
  .tariff__smile--off {
    &::after {
      top: 20px;
      left: 100px;
    }
  }

  .tariff__title--hit {
    background-image: url("../img/bg-hit.svg");
    background-position: left top;

    &::before {
      top: 15px;
      left: 10px;
    }
  }
}
